body {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    box-sizing: border-box;
}
#app {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.block-description {
    color: #707070;
    font-size: 36px;
    font-family: 'IBM Plex Mono',
    monospace;
    font-style: normal;
    font-weight: 400;
}