.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 8fr .5rem 1fr;
    grid-template-rows: 1fr;
}
.search_area {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search_area_dynamic {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search_field {
    height: 42px;
    background-image: url('../resources/loupe.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-color: rgba(240, 242, 244, 0.5);
    padding-left: 2rem;
    font-size: 1rem;
    border: 1px solid #DEE5EB;
    box-shadow: inset -1px 0px 0px rgba(198, 209, 221, 0.5);
    color: #7B8395;
}

:-ms-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
    color: pink;
    

}
.button_area {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    width: 170px;
    height: 42px;
    padding: .5rem;
    background-color: #7B8395;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
}