.container {
    width: 100%;
    height: 100%;
    display: block;
}

.table_loading {
    width: 100%;
    height: 100%;
    background: rgba(240, 242, 244, 0.5);
    border: 1px solid #DEE5EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table_loading_text {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    color: #7B8395;
}

.table_container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.table_container::-webkit-scrollbar {
    width: 0;
}

.table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.table_head th {
    position: sticky;
    top: 0;
}

.table_body {
    width: 100%;
    height: 100%;
}

.header_column {
    color: #7B8395;
    background: rgba(240, 242, 244, 1);
    height: 40px;
}

.vehicle_name {
    padding-left: 1rem;
    text-align: left;
    font-family: IBM Plex Mono;
    font-style: normal;
    box-shadow: inset 0px -1px 0px rgba(198, 209, 221, 0.5);
    font-weight: normal;
    color: #1F232E;
    height: 40px;
}
.tariff_year {
    text-align: center;
    box-shadow: inset 0px -1px 0px rgba(198, 209, 221, 0.5);
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    color: #1F232E;
    height: 40px;
    cursor: pointer;
}