.container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background: rgba(240, 242, 244, 0.5);
    border: 1px solid #DEE5EB;
    box-shadow: inset -1px 0px 0px rgba(198, 209, 221, 0.5);
}

.text {
    margin-left: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #7B8395;
}