.container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 100%;
}

.table {
    width: 100%;
    height: 80%;
}

.vehicle {
    width: 100%;
}